{% extends 'base.html' %}
{% load static %}

{% block content %}
<main role="main">

	<div class="jumbotron" style="background:transparent url('{% static 'images/jejuni-3.jpg' %}') no-repeat center center /cover; border-radius: 0">

		<div class="container text-center">
			<h1 class="text-white display-3">Job Status</h1>
			<p class="text-white">Bioinformatics tasks usually take more than a blink of an eye. That's why cabunicrisis manages jobs and lets you check their status</p>
			<br>
			<h4 class="text-white">Please enter your Email or UUID associated with your job.</h4>
			<br>
			<form method="post" enctype="multipart/form-data" class="text-center">
				{% csrf_token %}
				<div class="row">
					<button type="button" class="btn text-white btn-outline-warning btn-lg col-md-5 p-3">
						<div class="row align-items-center"> 
							<div class="col-md-7">
								<input type="email" name="email" class="form-control">
							</div>
							<div class="col-md-5">
								<h5><b>Email Address</b></h5>
							</div>
						</div>
					</button>
					<div class="col-md-2"><h5 class="text-white">OR</h5></div>
					<button type="button" class="btn text-white btn-outline-warning btn-lg col-md-5 p-3">
						<div class="row align-items-center"> 
							<div class="col-md-8">
								<input type="text" name="uuid" class="form-control">
							</div>
							<div class="col-md-4">
								<h5><b>Job UUID</b></h5>
							</div>
						</div>
					</button>
				</div>
				<br>
				<div class="row"> 
					<div class="col-md-9"></div>
					<button type="submit" class="btn btn-warning btn-lg col-md-3">Submit »</button>
				</div>
			</form>

		</div>
	</div>

	<div class="row align-items-center" style="padding-right: 15px; padding-left: 15px;">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h2 class="text-center"><b>Status Report</b></h2>
		</div>
		<div class="col-md-1"></div>
		<br>
		{% if user %}
		<div class="col-md-1"></div>
			<div class="col-md-10">
				<h4>Hello user: <b>{{user.email}}</b>, your UUID is: <b>{{user.uuid}}</b></h4>
			</div>
		<div class="col-md-1"></div>
		<div class="col-md-1"></div>
			<div class="col-md-10">
				<h4>{% if user.job_status %}Your Job: <b>has been completed.</b>{% else %}Your Job: <b>is still running</b>, please come back later. We'll send an email when the job is done.{% endif %}</h4>
			</div>
		<div class="col-md-1"></div>		
		{% endif %}


	</div>
	<br><br>
	<div class="row align-items-center" style="padding-right: 15px; padding-left: 15px;">
		<div class="col-md-3 text-center">
			<button class="btn {% if not assembly %} btn-secondary {% else %} btn-primary {% endif %} align-items-center" type="button" data-toggle="collapse" data-target="#assembly" aria-expanded="false" aria-controls="assembly">Genome Assembly</button>
		</div>
		<div class="col-md-3 text-center">
			<button class="btn {% if not prediction %} btn-secondary {% else %} btn-primary {% endif %} align-items-center" type="button" data-toggle="collapse" data-target="#prediction" aria-expanded="false" aria-controls="prediction">Gene Prediciton</button>
		</div>
		<div class="col-md-3 text-center">
			<button class="btn {% if not annotation %} btn-secondary {% else %} btn-primary {% endif %} align-items-center" type="button" data-toggle="collapse" data-target="#annotation" aria-expanded="false" aria-controls="annotation">Functional Annotation</button>
		</div>
		<div class="col-md-3 text-center">
			<button class="btn {% if not comparative %} btn-secondary {% else %} btn-primary {% endif %} align-items-center" type="button" data-toggle="collapse" data-target="#comparative" aria-expanded="false" aria-controls="comparative" >Comparative Genomics</button>
		</div>
	</div>
	<br><br>
	<div class="collapse" id="assembly" style="padding-right: 15px; padding-left: 15px;">
		
		{% if not assembly %}

			<div class="card card-body">
				Information for Genome Assembly jobs. If you're seeing this message, that means that the job is still running, please check back later.
			</div>

		{% else %}
			<div class="card card-body">
				Information for Genome Assembly jobs. If you're seeing this message, that means that the job is still running, please check back later.
			</div>
		{% endif %}
	</div>
	<div class="collapse" id="prediction" style="padding-right: 15px; padding-left: 15px;">
		<div class="card card-body">
			Information for Gene Prediction jobs. If you're seeing this message, that means that the job is still running, please check back later.
		</div>
	</div>
	<div class="collapse" id="annotation" style="padding-right: 15px; padding-left: 15px;">
		<div class="card card-body">
			Information for Functional Annotation jobs. If you're seeing this message, that means that the job is still running, please check back later.
		</div>
	</div>
	<div class="collapse" id="comparative" style="padding-right: 15px; padding-left: 15px;">
		<div class="card card-body">
			Information for Comparative Genomics jobs. If you're seeing this message, that means that the job is still running, please check back later.
		</div>
	</div>
	<br><br><br><br>

</main>

{% endblock %}