{% extends 'base.html' %}
{% load static %}

{% block content %}
<main role="main">

        <div class="jumbotron" style="background:transparent url('{% static 'images/jejuni-3.jpg' %}') no-repeat center center /cover; border-radius: 0">

                <div class="container text-center">
                        <h1 class="text-white display-3">Welcome to Functional Annotation</h1>
                        <p class="text-white">The functional annotation step in our pipeline takes in fna, faa, multi-fasta, and gff files to create annotated gff files for Comparative Genomics. We approach this through homology- and ab initio-based tools. Inputs to homology are clustered beforehand. </p>
                        <p class="text-white">Clustering: CD-HIT. Homology: EGGNOG and VFDB. Ab initio: TMHMM2 and SignalP.</p>
                        <br>
                        <h4 class="text-white">Please enter faa, fna, and gff files with the same naming schemes. There must be an equal number of each.</h4>
                        <br>
                        <form method="post" enctype="multipart/form-data" class="text-center">
                                {% csrf_token %}
                                <button type="button" class="btn text-white btn-outline-warning btn-lg p-3 col-md-7">
                                        <div class="row align-items-center">
                                                <div class="col-md-8">
                                                        <input type="email" name="email" class="form-control">
                                                </div>
                                                <div class="col-md-4">
                                                        <h5><b>Email Address</b></h5>
                                                </div>
                                        </div>
                                </button>
                                <button class="btn text-white btn-outline-warning btn-lg p-3 col-md-7">
                                        <input type="file" class="text-white" name="all-fa-files" multiple ><b>Upload Files »</b>
                                </button>
                        </form>


                </div>
        </div>

        {% if uuid_data %}
        <div class="row align-items-center" style="padding-right: 15px; padding-left: 15px;">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                        <h3 class="text-center">Files Receieved from Gene Prediction!</h3>
                        <p class="text-center">Your files were successfully ported through Gene Prediction, and are being run on Functional Annotation tools. Please note down your unique UUID and check for updates in the status page.</p>
                        <p class="text-center">Your UUID: <b>{{ uuid_data }}</b></p>
                        <p class="text-center"><a class="btn btn-success" href="{% url 'comparativegenomics_home' %}" role="button">Get Status »</a></p>
                </div>
                <div class="col-md-1">
                </div>
        </div>
        {% endif %}

</main>

{% endblock %}
